<%= render "shared/titulo_pagina", titulo: "Listas" %>
<%= link_to "Crear lista", new_list_path(), class: "btn btn-xs btn-primary" %>
<div class="center list-group">
  <% @listas.each do |lista| %>
    <ul class="list-group-item listing">
      <div class="row"> 
        <%=link_to lista.nombre_lista.capitalize, list_path(lista) %>
        <% if lista.peliculas.any? %>
          <ul class="list-group list-group-horizontal">
              <%= render lista.peliculas.order('created_at DESC') %>
          </ul>
        <% end %>
        <div>
          <%= button_to "Borrar lista", list_path(lista), method: :delete, class: "btn btn-xs btn-danger" %>
          <%= link_to "Editar lista", edit_list_path(lista), class: "btn btn-xs btn-warning" %>
        </div>
      </div>
    </ul>      
  <% end %>
</div>