<%= render "shared/titulo_pagina", titulo: t(:buscar) %>
<% 
paginas = 1
%>
<div>
  <div class="container my-5">
    <h4>Películas</h4>
    <div id="carousel1" class="carousel carousel-dark slide" data-bs-interval="false">
      <div class="carousel-inner">

        <!--Primer item del slider-->
        <div class="carousel-item active">
          <div class="row">
            <% primeras = @peliculas.first(6)%>
            <% primeras.each do |pelicula| %>
              <% @peliculas.shift
              @sprite = "https://image.tmdb.org/t/p/w500/#{pelicula["poster_path"]}"
                %>
              <div class="col-md-2">
                <div class="card mb-2">
                  <%= link_to pelicula_path(pelicula["id"]) do %>
                    <% params[:parametro] = pelicula["id"]%>
                    <%= image_tag url_for(@sprite), class: "card-img-top" %>
                  <% end %>
                  <div class="card-body">
                    <h6 class="card-title"><%= pelicula["title"]%></h6>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        
        <!--Fin primer item del slider-->

        <!--Resto de items del slider-->
        <% while @peliculas.length() > 0%>
        <% 
        if @peliculas.length() < 6 && paginas < 3
          paginas = paginas+1
          response = RestClient.get("https://api.themoviedb.org/3/movie/popular?api_key=54e1519f91f40d97ec2abbdf458545ac&language=es-ES&page=#{paginas}")
          peliculas = JSON.parse(response)
          @peliculas += peliculas["results"]
        end
        %>
          <div class="carousel-item">
            <div class="row">
              <% primeras = @peliculas.first(6)%>
              <% primeras.each do |pelicula| 
                @peliculas.shift
              @sprite = "https://image.tmdb.org/t/p/w500/#{pelicula["poster_path"]}"
                %>
                <div class="col-md-2">
                  <div class="card mb-2">
                    <%= link_to pelicula_path(pelicula["id"]) do %>
                      <% params[:parametro] = pelicula["id"]%>
                      <%= image_tag url_for(@sprite), class: "card-img-top" %>
                    <% end %>
                    <div class="card-body">
                      <h6 class="card-title"><%= pelicula["title"]%></h6>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <!--Fin de los items-->

      </div>
      <!--Controles del slider-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <h4>Series</h4>
    <div id="carousel1" class="carousel carousel-dark slide" data-bs-interval="false">
      <div class="carousel-inner">

        <!--Primer item del slider-->
        <div class="carousel-item active">
          <div class="row">
            <% primeras = @series.first(6)%>
            <% primeras.each do |pelicula| %>
              <% @series.shift
              @sprite = "https://image.tmdb.org/t/p/w500/#{pelicula["poster_path"]}"
                %>
              <div class="col-md-2">
                <div class="card mb-2">
                  <%= link_to pelicula_path(pelicula["id"]) do %>
                    <% params[:parametro] = pelicula["id"]%>
                    <%= image_tag url_for(@sprite), class: "card-img-top" %>
                  <% end %>
                  <div class="card-body">
                    <h6 class="card-title"><%= pelicula["name"]%></h6>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        
        <!--Fin primer item del slider-->

        <!--Resto de items del slider-->
        <% while @series.length() > 0%>
        <% 
        if @series.length() < 6 && paginas < 3
          paginas = paginas+1
          response = RestClient.get("https://api.themoviedb.org/3/movie/popular?api_key=54e1519f91f40d97ec2abbdf458545ac&language=es-ES&page=#{paginas}")
          series = JSON.parse(response)
          @series += series["results"]
        end
        %>
          <div class="carousel-item">
            <div class="row">
              <% primeras = @series.first(6)%>
              <% primeras.each do |pelicula| 
                @series.shift
              @sprite = "https://image.tmdb.org/t/p/w500/#{pelicula["poster_path"]}"
                %>
                <div class="col-md-2">
                  <div class="card mb-2">
                    <%= link_to pelicula_path(pelicula["id"]) do %>
                      <% params[:parametro] = pelicula["id"]%>
                      <%= image_tag url_for(@sprite), class: "card-img-top" %>
                    <% end %>
                    <div class="card-body">
                      <h6 class="card-title"><%= pelicula["name"]%></h6>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <!--Fin de los items-->

      </div>
      <!--Controles del slider-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>