<%= render "shared/titulo_pagina", titulo: t(:personas) %>
<% lista = @pelicula["results"]%>

  <div class="container my-5">
  <div id="carouselExampleControls" class="carousel carousel-dark slide" data-interval="6000">
    <div class="carousel-inner">
    <!--Primer slider-->
      <div class="carousel-item active">
      <div class="row">
        <% primeras = lista.first(6)%>
        <% primeras.each do |pelicula| 
            lista.shift
            response = RestClient.get('https://pokeapi.co/api/v2/pokemon/'+pelicula["name"])
            @sprite = JSON.parse(response)["sprites"]["front_default"]
             %>
            <div class="col-md-2">
              <div class="card mb-2">
                <%= link_to peliculas_path() do %>
                  <%= image_tag url_for(@sprite), class: "card-img-top" %>
                <% end %>
                <div class="card-body">
                  <h6 class="card-title"><%= pelicula["name"]%></h6>
                </div>
              </div>
            </div>
        <% end %>
        </div>
      </div>
        <!--Fin del primer slider-->
        <!--Resto de Sliders-->
        <% while lista.length() > 0 %>
      <div class="carousel-item">
        <div class="row">
        <% primeras = lista.first(6)%>
        <% primeras.each do |pelicula| 
            lista.shift
            response = RestClient.get('https://pokeapi.co/api/v2/pokemon/'+pelicula["name"])
            @sprite = JSON.parse(response)["sprites"]["front_default"]
             %>
            <div class="col-md-2">
              <div class="card mb-2">
                <%= link_to peliculas_path() do %>
                  <%= image_tag url_for(@sprite), class: "card-img-top" %>
                <% end %>
                <div class="card-body">
                  <h6 class="card-title"><%= pelicula["name"]%></h6>
                </div>
              </div>
            </div>
        <% end %>
        </div>
      </div>
      <% end %>
        <!--Findel resto de sliders-->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>