<%= render "shared/titulo_pagina", titulo: @usuario.nombre %>

<nav class="navbar navbar-expand-lg navbar-light bg-light ps-5">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item me-2">
        <%= link_to t(:listas), lists_path, class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to t(:amigos), amigos_path, class: "nav-link" %>
      </li>
      <% if logged_in? && (usuario_actual != @usuario) %>
        <div>
        <% if !Friendship.find_by(usuario_id: usuario_actual.id, amigo_id: @usuario.id) %>
          <li class="nav-item me-2">
            <%= link_to t(:anadir_amigos), anadir_amigos_usuario_path(@usuario), method: :post, class: "nav-link text-primary" %>
          </li>
        <% else %>
          <li class="nav-item me-2">
            <%= link_to t(:borrar_amigos), borrar_amigos_usuario_path(@usuario), method: :delete, class: "nav-link text-danger" %>
          </li>
        <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</nav>

<p>
<%= t(:pelis_vistas) %> <%= Pelicula.joins(:lists).where("lists.usuario_id"=>@usuario.id).where("lists.nombre_lista" => "Vistos").count%>
</p>
<p>
<%= t(:siguiendo) %> <%= Friendship.where("usuario_id" => @usuario.id).count %>
</p>
<p>
<%= t(:seguidores) %> <%= Friendship.where("amigo_id" => @usuario.id).count %>
</p>