<%= render "shared/titulo_pagina", titulo: @detalles["name"] %>
<% 
    if @detalles["poster_path"] != nil
      @sprite = "https://image.tmdb.org/t/p/w500/#{@detalles["poster_path"]}"
    else
      @sprite = asset_path('movie.png')
    end
    begin
    @trailer = "https://www.youtube.com/embed/#{@video["results"][0]["key"]}"
    rescue
    end
%>
<div class="parent">
    <div class="caja mx-3">
        <%= image_tag url_for(@sprite), class: "poster" %>
    </div>  
    <div class="caja mx-3">
        <h4><%=t(:fecha_estreno)%></h4>
        <p> <%= @detalles["first_air_date"] %></p>
        <h4><%=t(:sinopsis)%></h4>
        <p> <%= @detalles["overview"] %></p>
        <h4><%=t(:plataformas)%> </h4>
        <% 
        begin
        @providers.each do |p| 
        %>
        <%= image_tag url_for("https://image.tmdb.org/t/p/w500/#{p["logo_path"]}"), class:"provider" %>
        <% 
        
        end
        rescue %>
        <p><%=t(:no_provider)%></p>
        <% end
        %>
        <% unless usuario_actual == nil %>
          <h4 class="mt-4"><%=t(:listas)%> </h4>
          <p>
          <% @listas.each do |lista|%>
            <span class="badge bg-secondary"><%= lista.nombre_lista %></span>
          <% end %>
          </p>
          <button href="#" id="anadir" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=t(:anadir_a_lista)%>
          </button>
          <ul class="dropdown-menu" aria-labelledby="anadir">
            <% @listas_usuario.each do |lista|%>
              <% @detalles["id_lista"] = lista.id %>
              <%= button_to anadir_serie_a_lista_path(@detalles), class:"dropdown-item" do %>
                <% params["id_lista"] = lista.id%>
                <span class="dropdown-item"><%= lista.nombre_lista %></span>
              <% end %>
            <% end %>
          </ul>
          <button href="#" id="borrar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%=t(:borrar_de_lista)%>
          </button>
          <ul class="dropdown-menu" aria-labelledby="borrar">
            <% @listas.each do |lista|%>
              <% @detalles["id_lista"] = lista.id %>
              <%= button_to borrar_serie_de_lista_path(@detalles), method: :delete, class:"dropdown-item" do%>
                <% params["id_lista"] = lista.id%>
                <span class="dropdown-item"><%= lista.nombre_lista %></span>
              <% end %>
            <% end %>
          </ul>
        <% end %>
    </div>
</div>
<div class="mx-3 mt-4">
    <h4><%=t(:elenco)%></h4>
    <div id="carousel1" class="carousel carousel-dark slide" data-bs-interval="false">
      <div class="carousel-inner">
        <!--Primer item del slider-->
        <div class="carousel-item active">
          <div class="row">
            <% primeras = @equipo.first(6)%>
            <% primeras.each do |persona| %>
              <% @equipo.shift
              if persona["profile_path"] != nil
                @foto = "https://image.tmdb.org/t/p/w500/#{persona["profile_path"]}"
              else
                @foto = asset_path('user.png')
              end
                %>
              <div class="col-md-2">
                <div class="card mb-2">
                    <%= image_tag url_for(@foto), class: "card-img-top" %>
                  
                  <div class="card-body">
                    <h6 class="card-title"><%= persona["name"]%></h6>
                    <p class="card-title"><%= persona["character"]%></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        
        <!--Fin primer item del slider-->

        <!--Resto de items del slider-->
        <% while @equipo.length() > 0%>
          <div class="carousel-item">
            <div class="row">
              <% primeras = @equipo.first(6)%>
              <% primeras.each do |persona| 
                @equipo.shift
                if persona["profile_path"] != nil
                    @foto = "https://image.tmdb.org/t/p/w500/#{persona["profile_path"]}"
                else
                    @foto = asset_path('user.png')
                end                %>
                <div class="col-md-2">
                  <div class="card mb-2">
                      <%= image_tag url_for(@foto), class: "card-img-top" %>
                    <div class="card-body">
                      <h6 class="card-title"><%= persona["name"]%></h6>
                      <p class="card-title"><%= persona["character"]%></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <!--Fin de los items-->

      </div>
      <!--Controles del slider-->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>   
<div class="caja mx-3">
    <h4>Trailer: </h4>
    <iframe width="500px" height="250px" src="<%= @trailer %>" frameborder="0"></iframe>
</div>
