<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-5 fixed">
  <div class="container-fluid ms-5">
    <%= link_to 'CINOPSIS', root_path, class: "navbar-brand ms-5" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-auto">
          <%= link_to t(:peliculas), peliculas_path, class: "nav-link" %>
        </li>
        <li class="nav-item me-auto">
          <%= link_to t(:series), series_path, class: "nav-link" %>
        </li>
        <li class="nav-item me-auto">
          <%= link_to t(:usuarios), usuarios_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t(:idioma) %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <span class="dropdown-item"><%= t(:espanol) %> <%= link_to image_tag(asset_path('iconos/spain.png'), class: "bandera"), {:locale => 'es'}%></span>
              <span class="dropdown-item"><%= t(:ingles) %> <%= link_to image_tag(asset_path('iconos/united-kingdom.png'), class: "bandera"), {:locale => 'en'}%></span>
              </ul>
          </li>
      </ul>
      <form class="d-flex me-auto">
        <input id="buscar_text" class="form-control" type="search" placeholder="<%=t(:buscar)%>" aria-label="Search">
        <input id="buscar" type="submit" value="<%=t(:buscar)%>">
      </form>
      
      <ul class="navbar-nav me-5">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= usuario_actual.nombre.capitalize%>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t(:perfil), usuario_actual, class: "dropdown-item" %></li>
              <%= link_to t(:amigos), amigos_path, class: "dropdown-item" %></li>
              <%= link_to t(:listas), listas_path(usuario_actual), class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              
              <li><%= button_to t(:cerrar_sesion), logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="sesion"><%= link_to t(:iniciar_sesion), login_path, class: "dropdown-item" %></li>
          <li class="sesion"><%= link_to t(:registrar), registro_path, class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>